.img{
    width: 100%;
    max-width: 800px;
    height: auto;
}
body{
    font-size: 1.5rem;
    line-height: 1.3;
}
h1{
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}
.main{
    width: 85%;
    max-width: 1120px;
    margin: 0 auto;
}
figure{
    padding: 0;
    margin: 0;
}

section{
    padding-top: 3rem;
}

video{
    max-width: 100%;
}

.game-image-container{
    display: block;
}

figcaption{
    font-size: 1rem;
    font-weight: 500;
}

.game-img{
    width: 100%;
    height: 65%;
}

@media screen and (min-width: 800px){
    .game-image-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap:1rem;
    }
}